In [0]:
import pandas as pd
import numpy as np
import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import minmax_scale

Using TensorFlow backend.

In [0]:
df = pd.read_csv("/content/drive/My Drive/Other/blkIO.txt", sep=' ',header = None)
df.columns = ['timestamp','pid','pname','blockNo', 'blockSize', 'readOrWrite', 'bdMajor', 'bdMinor', 'hash']
df.head()

        timestamp   pid  ... bdMinor                              hash
0  89966811921625  4257  ...     0.0  2c4787c7671c2f638777c4ab72859ce1
1  89967003980393  4253  ...     0.0  88b93b628d84082186026d9da044f173
2  89967004049935  4253  ...     0.0  b5e9f4e5ab62a4fff5313a606b0ad4e3
3  89967004093615  4253  ...     0.0  7af5556ad4d45263bcd8358867333dd4
4  89967324150054  4254  ...     0.0  88b93b628d84082186026d9da044f173

[5 rows x 9 columns]

In [0]:
df = df.drop(['pid', 'pname', 'blockSize', 'bdMajor', 'bdMinor', 'hash'], axis=1)
df.head()

        timestamp    blockNo readOrWrite
0  89966811921625  488846200           W
1  89967003980393  508455704           W
2  89967004049935  508455712           W
3  89967004093615  508455720           W
4  89967324150054  508500288           W

In [0]:
readsAndWrites=df['blockNo'].tolist()
print(len(set(readsAndWrites)))

readsAndWrites = minmax_scale(readsAndWrites, feature_range=(0, 1024))
# readsAndWrites = keras.utils.normalize(readsAndWrites, axis= -1)[0]
dataset = np.array(readsAndWrites)
dataset.shape

671728

(1322890,)

In [0]:
def split(data, size):
    sequences, y = list(), list()
    for i in range(len(data)):
        end = i + size
        if end >= len(data):
            break
        sequences.append(data[i:end-1])
        y.append(data[end-1])
    return np.array(sequences), np.array(y)

In [0]:
x, y = split(dataset[:int(0.5*len(dataset))], 1000)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=None, shuffle=True)

print(x_train[:10])

[[505.02917892 505.02919302 505.02920712 ... 505.05575038 505.05576448
  505.05577857]
 [253.94071555 253.94072964 253.94074374 ... 254.01933041 254.01934451
  254.0193586 ]
 [224.98058943 224.98060353 224.98061762 ... 224.99447425 224.99448835
  224.99450244]
 ...
 [254.59207572 254.59207572 254.59208981 ... 256.01729259 256.01729259
  256.01730669]
 [207.65036045 207.65037455 207.65038864 ... 209.8050308  209.8050449
  209.80505899]
 [487.91536988 487.91538398 487.91539808 ... 487.92969169 487.92970579
  487.92971988]]

In [0]:
np.save("/content/drive/My Drive/Other/sequences_data", np.array([x_train, x_test]))
np.save("/content/drive/My Drive/Other/label_data", np.array([y_train, y_test]))